@font-face {
    font-family: bebas-bold;
    src: url(fonts/BebasNeueBold.otf);
}

@font-face {
    font-family: ubuntu-regular;
    src: url(fonts/Ubuntu-R.ttf);
}

@font-face {
    font-family: ubuntu-bold;
    src: url(fonts/Ubuntu-B.ttf);
}

/*---------------------------------------------*/
                /*FUENTES*/
/*----------------------------------------------*/
@font-face {
    font-family: bebas;
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: bebasBook;
    src: url(fonts/BebasNeue-Book.ttf);
}

@font-face {
    font-family: GothamMedium;
    src: url(fonts/GothamMedium.otf);
}

@font-face {
    font-family: GothamBook;
    src: url(fonts/GothamBook.otf);
}

@font-face {
    font-family: GothamBold;
    src: url(fonts/GothamBold.otf);
}



@font-face {
    font-family: GothamBlack;
    src: url(fonts/Gotham-Black.otf);
}


@font-face {
    font-family: RobotoBold;
    src: url(fonts/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: RobotoSlabThin;
    src: url(fonts/RobotoSlab-Thin.ttf);
}

@font-face {
    font-family: RalewayRegular;
    src: url(fonts/Raleway-Regular.ttf);
}




@font-face {
    font-family: OswaldBold;
    src: url(fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: OswaldExtraLight;
    src: url(fonts/Oswald-ExtraLight.ttf);
}

@font-face {
    font-family: OswaldLight;
    src: url(fonts/Oswald-Light.ttf);
}


@font-face {
    font-family: OswaldMedium;
    src: url(fonts/Oswald-Medium.ttf);
}


@font-face {
    font-family: OswaldRegular;
    src: url(fonts/Oswald-Regular.ttf);
}


@font-face {
    font-family: UbuntuBoldItalic;
    src: url(fonts/Ubuntu-BI.ttf);
}




@font-face {
    font-family: UbuntuRegular;
    src: url(fonts/Ubuntu-R.ttf);
}

@font-face {
    font-family: UbuntuItalic;
    src: url(fonts/Ubuntu-I.ttf);
}


@font-face {
    font-family: HouseScript;
    src: url(fonts/SignPainter-HouseScript-Regular.ttf);
}

/********************************GRAL***************************************/
body{
  width: 100% !important;
  overflow-x: hidden;
}
.orange{
  color:#EE4E23;
}
h3{
  font-family: GothamBook;
  color:#00A5E7;
}
.padding-0{
  padding:0;
}
.bk-gris{
  background-color: #F5F5F6;
}

.padding-bottom{
  padding-bottom: 3%;
}
.margin-top-20{
    margin-top:20px;
}


.margin-top-9{
  margin-top:9px;
}

.margin-top-35{
    margin-top:35px;
}

.margin-top-23{
    margin-top:23px;
}

.margin-left-28{
    margin-left:28px;
}


.margin-top-40{
    margin-top:40px;
}

.margin-top-100{
  margin-top:100px;
}

.margin-top-50{
    margin-top:50px;
}

.margin-top-60{
    margin-top:60px;
}


.margin-bottom-25{
    margin-bottom:25px;
}

.margin-bottom-100{
    margin-bottom:100px;
}

.margin-bottom-50{
    margin-bottom:50px;
}

.margin-top-70{
    margin-top:70px;
}


.margin-top-80{
    margin-top:80px;
}


.margin-top-44{
    margin-top: 44px;
}

.margin-top-25{
  margin-top:25px;
}

.margin-left-10{
    margin-left:10px;
}

.margin-top-30{
    margin-top:30px;
}


.margin-top-35{
    margin-top:35px;
}


.margin-top-10{
  margin-top:10px;
}

.margin-top-5{
    margin-top:5px;
}

.padding-10{
    padding:10px;
}

.padding-50{
  padding:50px;
}

.padding-bottom-47{
    padding-bottom:47px;
}
a{
   -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    transition: all 0.20s ease-in-out;
}

a:hover,a:active{
  text-decoration: none;
}
section:not(#footer){
  padding:50px;
}

.right{
  float:right;
}
.btn{
       background-color: transparent;
    border-radius: 25px;
    color: #1DA2DC;
    padding: 10px 34px;
        font-family: GothamBold;
    font-size: 2rem;
    /* box-shadow: -6px 7px #020302; */
    border: 2px solid #1DA2DC;

}


.btn:hover{
  background-color: #1DA2DC;
  color:white;

}

ul.flex {
  list-style: none;
}

ul.flex{ 
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
 }



h1,h2,h3,h4,h5{
font-family: Gotham !important;
margin-top:0;
}

nav ul li a{
  font-family: ubuntu-bold !important;  
  color:#1DA2DC;
  font-size: 1.5rem
}


h1{
  font-size: 5rem;
  color:#1DA2DC;
}

h2{
  font-size: 3.4rem;
  color:#1DA2DC;

}

h3{
  font-size: 3rem;
  color:#1DA2DC;

}

h4{
  font-size: 1.8rem;
  margin:5px 0 5px 0;
}

h5{
  font-size: 1rem;
  color:#1DA2DC;

}


p{
  font-family: ubuntu-regular !important;
}

p>span{
  color:#EB5938;
}

.bk-red{
    background-color:#EE4E23; 
}

.preloader{
  width:100%;
  height: auto;
  background-color: white;
}


.margin-to-header{
  margin-top:93px !important;
}

/*---------------------------------------------*/
                /*HEADER*/
/*----------------------------------------------*/

header{
    padding: 20px 43px;
    position:fixed;
    top:0;
    z-index: 3;
    width: 100%;
    font-family: GothamBook ;
    background:#f9f9f9;
        -webkit-box-shadow: -1px 10px 30px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 30px -24px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 30px -24px rgba(0,0,0,0.75);
    height: 93px;
}


header ul.menu{
  
    float: right;
    margin-top: 17px;
    padding: 0;
    list-style: none;
}

header ul.menu>li {
  float:left;
    position:relative;
}



a.active:after{
  width: 100%;  
}

header ul.menu>li:not(:first-child){
  margin-left:0;
}


header ul.menu>li>a {
       color: #00A5E7;
    letter-spacing: 1px;
     font-size: 19px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 30px;
    padding: 14px;
}

header ul.menu>li>a.after-btn:after {
    content: "";
    display: block;
    background-color: #EE4E23;
    height: 2px;
    width: 0%;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
    margin-top: 6px;
    margin-left:auto;
    margin-right: auto;
}

header ul.menu>li>a:hover:after{
    width: 90%;
}

header ul.menu>li>a[href=saca_tu_prestamo] {
       color: #EE4E23;
    letter-spacing: 1px;
   font-size: 21px;
    border-width: 2px;
    border-style: solid;
    border-color: #EE4E23;
    border-radius: 30px;
    padding: 14px;
}


header ul.menu>li>a[href=saca_tu_prestamo]:hover {
       color: white;
    background:#EE4E23;
}


header ul.menu>li>a[href=saca_tu_prestamo]:active {
       color: white !important;
}


header ul.menu>li>a[href=saca_tu_prestamo]:focus {
       color: #EE4E23 !important;
       background:transparent;
}





header ul.menu>li>a:not(.rr-ss):active,header ul.menu>li>a:not(.rr-ss):focus{
   color:#EE4E23;

}

header ul.menu>li>a i {
    color:#00A5E7;
}

header ul.menu>li>a.rr-ss i{
       font-size: 24px;
    margin-top: -4px;
}


header ul.menu>li>a.rr-ss{
    padding:0;
    margin-left:15px;
}

header ul.menu>li>a.rr-ss:hover i{
    color:#EE4E23;
}


header ul.sub-menu{
    background:rgba(31, 151, 204, 0.95);
    margin-left: 18px;
    display:none;
    position:absolute;
        top: 39px;
    width: 248px;
}

header ul.sub-menu li{
    padding:10px;
}

header ul.sub-menu li a{
    color:white;
    font-size: 15px;
}

header ul.sub-menu li a:hover{
    color: lightgrey;
}

header ul.sub-menu li:not(:first-child){
    border-top: 1px solid white;
}





.close-menu-xs{
    float:right;
    margin-top: 4%;
    margin-right: 4%;
}



.close-menu-xs i {
        font-size: 2.3rem;
    color: #00A5E7;
    margin-right: 16px;
}
.xs-row img{
    float:left;
}


 .logo{
    width: 250px ;
}

.xs-row{
    position:absolute;
    top:0;
    z-index: 2;
    padding:0;
}


.xs-row i{
    float: right;
    font-size: 3rem;
    color: #00A5E7;
    margin-top: 6px;
}


.btn-cont{
    height: 48.875px;
}


.overlay-xs-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 50000;
    display: block;
        background-color: rgba(255, 255, 255, 0.9);
    animation: openMenu 0.9s cubic-bezier(.19,1,.22,1) forwards;
    padding-left: 0;
    text-align: center;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay-xs-menu li {
        margin-top: 41px;
}





.overlay-xs-menu .left {
    float:left;
        margin-left: 16px;
}

.overlay-xs-menu li a.xs-btn {
    font-size: 1.8rem;
    color: #00A5E7;
    font-family: GothamBold;
}


.overlay-xs-menu li a.xs-btn:hover {
    color: #114980;
    text-decoration: none;
}

.overlay-xs-menu .center-block{
    width: 87px;
}

@keyframes openMenu{
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}


.addBkground{
    background:rgba(45,45,45,0.70);
}

.removeBkground{
    background:transparent;
}



/************************************BANNER AND IMG-SECTION*****************************************************/
.img-section img{
  width: 100%;
}




.slider-cont .slide img{
	width: 100%;
}








/******************INDEX******************************************************/


section#index .img-cont{
  padding-left:0;
}


section#index .flex-cont{
  background:url("../img/bk-pixel-1.jpg") repeat;
}


section#index .flex{
    display:flex;
    flex-direction:row; 
    justify-content: space-around;
    align-content:stretch;
	 flex-wrap: wrap;
	 align-content: flex-start;    
	 align-items: center;
   color:white;
   padding-left: 0;
}

section#index .flex li{
  cursor:pointer;
    text-align: center;
    list-style: none;
      margin:5% 0 5% 0; 
      line-height: 25px;

}

section#index .flex li h4 {
    margin: 12px 0 5px 0;
    letter-spacing: 1px;
}

/*section#index .flex li:hover .overlap{
  background-color: rgba(0,0,0,0.5);
  transition:background-color 0.5s;
}*/


section#index .flex li:hover .overlap .btn{
   opacity: 1;
   transition:opacity 0.5s 0.2s;
}


section#index .flex li img{
	width: 78px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

section#index .flex li .overlap{
  height: auto;
  padding:8px;
  width:100%;
  background-color: rgba(0,0,0,0.0);
}

section#index .flex li .overlap .btn{
      margin-top: -100px;
    background-color: #1DA2DC;
    box-shadow: -4px 3px #FCEE1B;
    color: white;
    font-size: 1.7rem;
    padding: 5px;
    opacity: 0;
    display:none;
  }



section#index .flex li .overlap .btn:hover{
  box-shadow: -1px 2px #020302 !important;
  color:#FFF100;
  padding:2.5px;
  background-color: #1a91c5;
  margin: -95px 0 0 -5px;

  transition:box-shadow 0.2s,background-color 0.2s,padding 0.2s,margin 0.2s; 

}


section#index .metodos-list {
  list-style: none;
    margin: 0;
    padding: 0;
}


section#index .metodos-list  li{
  float:left;
}

section#index .metodos-list  li:not(:first-child){
  margin-left: 20px
}


section#index .metodos-list  li img{
  width:100px;
}


section#index .metodos-title {
    border-bottom: 1px solid black;
    margin-bottom: 22px;
    padding-bottom: 11px;
}

section#index .metodos-list li .img-width{
  width: 60px;
}

section#index .metodos-pago{
  margin-top: 5px;
  padding: 40px 0 69px 0px;
  margin-bottom: 15px;
}

/*********************************PREGUNTAS FRECUENTES *************************************************/



section#preguntas-frecuentes .container .row{
}

section#preguntas-frecuentes{
  padding-left:0;
  padding-right:0;
  padding-bottom: 0;
}

section#preguntas-frecuentes .btn{
      font-size: 18px;
}


section#preguntas-frecuentes h3 {
  font-family:GothamBook !important;
      font-size: 1.8rem;
          margin-top: 10px;
}


section#preguntas-frecuentes .bk-gris .row:nth-child(2){
  margin-top:0 !important;
  padding-top:0 !important;
}
/*section#preguntas-frecuentes .container .row:first-child {
  padding-bottom: 5%;
  
}*/



/*********************************QUIERO PAGAR ***************************************************************/


section#quiero-pagar form {
  margin-top: 4%;
  padding-bottom: 5%;
}



section#quiero-pagar form input{
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom-color:#1DA2DC;
  text-align: center;
  width:30%;
}



section#quiero-pagar button{

}
/*---------------------------------------------*/
                /*CONTACTO SECTION*/
/*----------------------------------------------*/




#contacto ul li:not(:first-child){
        margin-left: 100px;
}


#contacto ul { 
        width:1200px;
    padding-left: 0;
     }
#contacto h1 {
    font-family: Gotham !important;
    
    margin-top:0;
}


#contacto h4>b{
  font-family:Gotham !important;
}


#contacto h4{
  font-family:GothamBook !important;
      margin-top: 10px;
}


/***************************CONTACTO *************************************************************************/

label{
  font-family:Gotham !important;
  margin-top: 15px;
  font-weight: 1;
  text-align: left !important;
  color:#6D6F71;
}

section#contacto{
  padding-bottom: 5%;
      background: white;
}

section#contacto p img{
  vertical-align: unset;
}

section#contacto .btn:hover{
  /*margin: 5px 5px 0 0px;*/
  transition:box-shadow 0.2s,background-color 0.2s,padding 0.2s,margin 0.2s; 

}


section#contacto .btn:active{
  margin: 8px 8px 0 0px;
  

}

.btn-cont{
  float:right;
}


section#contacto .img-cont img{
  margin-top: 5%;
}

section#contacto form{
  width: 477px;
    margin: auto;
}

section#contacto .btn-cont{
  margin-top:15px;
}


section#contacto ::placeholder {
  color: #C5C5C7 !important;

}

section#contacto input, section#contacto select,section#contacto textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #1DA2DC;
    text-align: left;
    border-bottom-width: 2px;
    font-family: GothamBook;
    transition: border-bottom 0.75s;
    border-radius: 0px;
        box-shadow: none;
}

#contacto textarea{
  height: 34px;
}


/*********************************QUIENES SOMOS ***************************************************************/
#quienes-somos{
  padding-bottom:150px !important;
}

#quienes-somos h3 {
  font-family:GothamBook !important;
  font-size: 1.8rem;
}

#quienes-somos .btn{
  margin-top:41px;
}
/*****************************************SLIDER****************************************************************************/
.owl-carousel .owl-stage-outer{
  z-index: -1 !important;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -39px !important;
}

.owl-theme .owl-dots .owl-dot span{
      background: #fdf100 !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
      background: #eb5938 !important;
}
.owl-theme .owl-dots .owl-dot{
  outline:none;
}




   /* jssor slider loading skin double-tail-spin css */

        .jssorl-004-double-tail-spin img {
            animation-name: jssorl-004-double-tail-spin;
            animation-duration: 1.2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-004-double-tail-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }


        .jssorb051 .i {position:absolute;cursor:pointer;}
        .jssorb051 .i .b {fill:#fff;fill-opacity:0.5;stroke:#000;stroke-width:400;stroke-miterlimit:10;stroke-opacity:0.5;}
        .jssorb051 .i:hover .b {fill-opacity:.7;}
        .jssorb051 .iav .b {fill-opacity: 1;}
        .jssorb051 .i.idn {opacity:.3;}

        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}


.error{
  color:red;
  font-weight: bolder;
  margin:0;
    padding: 5px 15px 5px 0;
  display:none;
  font-family: ubuntu-regular;
}


/*PRELOADER*/
    /* Preloader */

    #preloader h3{
      text-align: center;
        margin-top: 3%;
        color: #1DA2DC;
        font-weight: bold;
        font-family: ubuntu-regular;
    }

    #preloader {
            position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 10043;
        height: 100vh;
    }

    #status {
             position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -25%;
    margin: auto;
    display: table;
    overflow: auto;
    /* height: 100px; */
    /* width: 552px; */
    color: white;
    }

    .spinner-sm {
            border: 5px solid #ec5125;
        border-top: 5px solid #1da2dc;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 0.80s linear infinite;
    }
  
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .modal-body{
    font-family: raleway-b;
    text-align: center;
}

.modal {
    top: 50px;
}

/*---------------------------------------------*/
                /*FOOTER*/
/*----------------------------------------------*/
.bk-grey{
    background:#F3F4F4;
}
.padding-12{
        padding: 12px 12px;
}

#footer .first{
  color:white;
  font-size: 19px;

}

#footer .first p{
  margin:0;
}

footer .logo {
    width: 250px !important;
}

footer{
  padding-top:50px;
  padding-bottom:50px;
}

footer p { 
    color:white;
    font-size: 19px;


 }

 footer ul{
  padding-left:0;
 }

 footer ul li {
  list-style:none;
 }


 hr{
    height: 1px;
    background-color: #5D5D5D;
        margin-top: 12px;
        margin-bottom:0;
 }


 footer a{
    font-size: 16px;
 }

footer h4{
        font-size: 19px;
}

footer a:hover{
    color:#00A5E7;
}

footer a.blue, footer a.red{
    letter-spacing: 1px;
}

footer a.blue:hover{
    color:#EE4E23;
}


footer a.red:hover{
    color:#00A5E7;
}

 footer h4,footer,footer a {
    font-family: GothamBook !important;
    color:#5D5D5D;
 }


footer b { 
    font-family: GothamBold;

 }

 footer .first p>b { 
    
    font-family: UbuntuBoldItalic;

 }


 footer .first p {
    font-family: UbuntuItalic;
 }

 .terminos{
    color:grey;
    font-size: 12px;
 }


/**************************************MEDIA QUERYS**************************************************************/
@media only screen and (min-width: 10px) and (max-width: 769px) {
  section#preguntas-frecuentes .btn {
    font-size: 14px;
}
  header {
    padding: 0;
    height: 96px;
}

section{
  text-align: center;
}
section#index  .prin-cont{
  padding-bottom: 20px;

}

section#index .metodos-list li{
  display:inline-block;
}

section#index .metodos-list li .img-width {
    width: 46px;
}

section#index .metodos-list li img {
    width: 83px;
}

 .flex{
        flex-direction: column !important;
        width: auto !important;
    }

    section#contacto form{
  width: auto !important;
}

#contacto ul li:not(:first-child) {
    margin-left: unset;
}


ul.flex li:not(:first-child) {
    margin-top: 40px;
}


footer .container-fluid{
  padding-right:0;
}

footer .col-lg-3, footer .col-lg-7, footer .col-lg-4{
  padding-left:0;
  padding-right:0;
}

footer .row,#footer .row{
  margin-right: 0 !important;
}

footer hr{
  width: 50%;
}

#preguntas-frecuentes .padding-50{
  padding-left:0;
  padding-right:0;
  padding-top:50px;
  padding-bottom:50px;
}

.row:not(.img-section){
  margin:0 !important;
}

    header{
            padding-top: 23px !important;
    }

    header img {
    margin-top: 30px;
    width: 150px !important;
}

.xs-row i {
    margin-top: 34px;
    /* margin-right: 89px; */
}

.xs-row {
    padding: 12px;
    padding-top: 0;
}
}



@media only screen and (min-width: 10px) and (max-width: 414px) {


}



@media only screen and (min-width: 320px) and (max-width: 768px) and (orientation:portrait) {



}

@media only screen and (min-width: 320px) and (max-width: 850px) and (orientation:landscape) {
 section#index  .prin-cont{
  text-align: center;
  padding-bottom: 20px;

}
  
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .xs-row {
    padding: 12px;
    padding-top: 0;
}

  .xs-row i {
    margin-top: 34px;
    /* margin-right: 89px; */
}
  header img {
    margin-top: 30px;
}
  #preguntas-frecuentes .padding-50{
  padding-left:0;
  padding-right:0;
  padding-top:50px;
  padding-bottom:50px;
}
  section#preguntas-frecuentes .btn {
    font-size: 14px;
}



  footer hr{
  width: 50%;
}

  footer .col-lg-3, footer .col-lg-7, footer .col-lg-4{
  padding-left:0;
  padding-right:0;
}

footer .row{
  margin-right: 0;
}
  header {
    padding: 0;
    height: 96px;
}

  nav ul li {
    margin-left: 4%;
 }
  .flex{
        flex-direction: column !important;
        width: auto !important;
    }

    #contacto ul li:not(:first-child) {
    margin-left: unset;
}

ul.flex li:not(:first-child) {
    margin-top: 40px;
}


section#contacto form{
  width: auto !important;
}
footer .container-fluid{
  padding-right:0;
}

footer .col-lg-3, footer .col-lg-7{
  padding-left:0;
  padding-right:0;
}
}


@media only screen and (min-width: 1024px) and (max-width: 1200px) {

	
}

@media only screen and (min-width: 1200px) and (max-width: 1920px) {


}


